# Description: This file contains the environment variables for the tests
#
# JWTTOKEN1 is the token for the user1
JWTTOKEN1: ""
# JWTTOKEN2 is the token for the user2
JWTTOKEN2:
URLFORDOWNLOAD: http://localhost:8080/download
URLFORUPLOAD: http://localhost:8080/upload
